<h3>Related <img src="../../../content/images/SRF.svg" width="50"> news</h3>

<div class="activity-feed">
    <div class="feed-item" *ngFor="let news of newsToShow | orderBy: 'date':true">
        <div class="date">{{news.date | date:shortDate}}</div>
        <div class="title">{{news.title}}</div>
        <div class="descriptionClick" (click)="toggleDescription(news)">Description</div>
        <div class="description" [hidden]="!news.showDetails">{{news.description}}</div>
        <img [src]="news.imageUrl" class="img-responsive" width="200">
    </div>
</div>
