<div>
    <h2>
        <span>Commentars</span>
        <button class="btn btn-primary float-right jh-create-entity create-commentar" [routerLink]="['/', { outlets: { popup: ['commentar-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Commentar
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="commentars">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="text"><span>Text</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creationDate"><span>Creation Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="creatorId"><span>Creator</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let commentar of commentars ;trackBy: trackId">
                <td><a [routerLink]="['../commentar', commentar.id ]">{{commentar.id}}</a></td>
                <td>{{commentar.text}}</td>
                <td>{{commentar.creationDate | date:'medium'}}</td>
                <td>
                    {{commentar.creatorId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../commentar', commentar.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'commentar/'+ commentar.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'commentar/'+ commentar.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
