
<div *ngIf="commentar">
    <h2><span>Commentar</span> {{commentar.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Text</span></dt>
        <dd>
            <span>{{commentar.text}}</span>
        </dd>
        <dt><span>Creation Date</span></dt>
        <dd>
            <span>{{commentar.creationDate | date:'medium'}}</span>
        </dd>
        <dt><span>Creator</span></dt>
        <dd>
            {{commentar.creatorId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'commentar/'+ commentar.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
