<div class="row">
    <div class="col-md-12">
        <h1 class="display-4">Dear Citizen</h1>
        <br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius pellentesque orci nec facilisis. Sed luctus
        ligula a sem tempus laoreet. Nullam semper gravida leo sit amet feugiat. Quisque ornare, odio eget accumsan
        dictum, velit sem luctus risus, ac vestibulum mauris magna a nunc. Suspendisse ultrices condimentum augue
        egestas semper. Mauris turpis purus, fermentum vitae turpis sed, auctor gravida metus. Mauris mollis luctus
        consequat. Integer augue nisi, euismod eu ornare ut, ullamcorper quis mauris.

        Sed at mauris semper, scelerisque enim id, bibendum tellus. Integer rutrum urna a turpis sodales, ut tempus erat
        posuere. Fusce sed efficitur sapien. Donec luctus fringilla turpis sed lacinia. Donec dignissim ut felis a
        pellentesque. Fusce s
        <br/>
        <br/>
        <h2>How it works</h2>
        Mauris mollis luctus consequat. Integer augue nisi, euismod eu ornare ut, ullamcorper quis mauris. Sed at mauris
        semper, scelerisque enim id, bibendum tellus. Integer rutrum urna a tu
        <br /><br/>
        <div class="process">
            <div class="process-row">
                <div class="process-step one">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled"><img
                        class="img-fluid"
                        src="../../content/images/step1.png">
                    </button>
                    <p>Create initiative</p>
                </div>
                <div class="process-step two">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled"><img class="img-fluid"
                                                                                                      src="../../content/images/logo.svg">
                    </button>
                    <p>Find supporters</p>
                </div>
                <div class="process-step three">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled"><img class="img-fluid"
                                                                                                      src="../../content/images/step3.png">
                    </button>
                    <p>Collect signatures</p>
                </div>
                <div class="process-step four">
                    <button type="button" class="btn btn-custom-init btn-circle" disabled="disabled"><img
                        class="img-fluid" src="../../content/images/step4.png"></button>
                    <p>Vote!</p>
                </div>
            </div>
        </div>
    </div>
</div>
