<div class="row">
    <div class="col-sm-8">
        <div *ngIf="initiative">
            <h2><span>{{initiative.title}}</span></h2>
            <div *ngIf="initiative.tags !== null" class="tags">
                <div *ngFor="let tag of initiative.tags" class="info"><span class="fa fa-tag"></span> {{tag}}</div>
                <div style="clear:both"></div>
            </div>

            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt class="initDescription"><span>Initiative description</span>
                </dt>
                <dd>
                    <span>{{initiative.text}}</span>
                </dd>
                <div *ngIf="initiative.status !== null">
                    <dt><span>Status</span></dt>
                    <dd>
                        <span>{{initiative.status}}</span>
                    </dd>
                    <dt><span>Creation Date</span></dt>
                    <dd>
                        <span>{{initiative.creationDate | date:'medium'}}</span>
                    </dd>
                    </dd>
                </div>
            </dl>
            <div style="border-bottom: 1px solid rgba(0, 0, 0, 0.1); border-top: 1px solid rgba(0, 0, 0, 0.1)">
                <h3>Supporters</h3>
                <div class="media">
                    <a class="pull-left" [routerLink]="'/politician/walter+thurnherr'">
                        <img class="media-object dp rounded-circle" src="../../../content/images/Thurnherr.jpg"
                             style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Walter Thurnherr
                            <small> CVP</small>
                        </h4>
                        <h5>Bundeskanzler</h5>
                    </div>
                </div>
                <div class="media">
                        <a class="pull-left" [routerLink]="'/politician/bastian+girod'">

                        <img class="media-object dp rounded-circle" src="../../../content/images/Girod.jpg"
                             style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Bastian Girod
                            <small> Grüne</small>
                        </h4>
                        <h5>Umweltwissenschaftler</h5>
                    </div>
                </div>
            </div>
            <div>
                <h3>Comments</h3>
                <i *ngIf="initiative.comments.length== 0">There are currently no comments. Be the first
                    one!<br/><br/></i>
                <div class="comment-list">
                    <!-- First Comment -->
                    <div class="row" *ngFor="let comment of initiative.comments">
                        <div class="panel panel-white post panel-shadow">
                            <div class="post-heading">
                                <div class="pull-left image">
                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                                         alt="user profile image">
                                </div>
                                <div class="pull-left meta">
                                    <div class="title h5">
                                        <a href="#"><b>Samuel Künzli</b></a>
                                        made a post.
                                    </div>
                                    <h6 class="text-muted time">{{comment.creationDate | date:'fullDate'}}</h6>
                                </div>
                            </div>
                            <div class="post-description">
                                <p>{{comment.text}}
                                <div class="stats">
                                    <a href="" class="btn btn-default stat-item">
                                        <i class="fa fa-thumbs-up icon"> {{getRandomLikeNumber()}}</i>
                                    </a>

                                </div>
                            </div>
                            <div class="post-footer">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Add a comment" type="text">
                                    <span class="input-group-addon">
                        <a href="#"><i class="fa fa-edit"></i></a>
                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary float-right jh-create-entity create-comment"
                    [routerLink]="['/initiative/', initiative.id, 'comment-new']">
                <span class="fa fa-plus"></span>
                <span>
            Create new Comment
            </span>
            </button>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>

            <button *ngIf="account.id==initiative.initiatorId" type="button"
                    [routerLink]="['/initiative', initiative.id, 'edit']"
                    replaceUrl="true"
                    class="btn btn-primary">
                <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
    <div class="col-sm-4" style="border-left: 1px solid rgba(0, 0, 0, 0.1)">

        <div *ngIf="initiative">
            <jhi-news [news]="initiative.newsFeed.searchResultListMedia"></jhi-news>
        </div>
    </div>
</div>

