<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInitiativeLabel">Create or edit a Initiative</h4>
        <!-- button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button-->
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!initiative.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="initiative.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="initiative.title"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                [(ngModel)]="initiative.text"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="initiative.status" id="field_status" >
                <option value="PROPOSAL">PROPOSAL</option>
                <option value="COLLECTING">COLLECTING</option>
                <option value="VOTING">VOTING</option>
                <option value="FINISHED">FINISHED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_creationDate">Creation Date</label>
            <div class="d-flex">
                <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" [(ngModel)]="initiative.creationDate"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_initiator">Initiator</label>
            <select class="form-control" id="field_initiator" name="initiator" [(ngModel)]="initiative.initiatorId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_citizenSupporters">Citizen Supporters</label>
            <select class="form-control" id="field_citizenSupporters" multiple name="citizenSupporters" [(ngModel)]="initiative.citizenSupporters">
                <option [ngValue]="getSelected(initiative.citizenSupporters, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_politicianSupporters">Politician Supporters</label>
            <select class="form-control" id="field_politicianSupporters" multiple name="politicianSupporters" [(ngModel)]="initiative.politicianSupporters">
                <option [ngValue]="getSelected(initiative.politicianSupporters, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <!-- button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button-->
        <button (click)="save()" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
